@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.slider-img {
  filter: brightness(50%);
}

.modal-section {
  background-color: #289BDE;
}

@media screen and (max-width:576px) {
  .header-slider p{
    display: none;
  }
}

